/* Фонове відео */
#background-video {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Центрування сторінки */
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

/* Основний блок */
.content {
    width: 350px;            /* трохи ширше */
    min-height: 600px;       /* мінімальна висота, щоб блок не “стискався” */
    background-color: rgba(30,30,30,0.6);
    border: 2px solid white;
    border-radius: 30px;
    color: white;
    box-shadow: 0 0 15px 3px rgba(255,255,255,0.4);
    animation: glow 2s infinite alternate;

    display: flex;
    flex-direction: column;
